Flask==1.1.0
flask-restplus==0.13.0
Flask-Cors==3.0.10
Werkzeug==0.16.1
flask-sqlacodegen==1.1.8
pymysql==1.0.2
SQLAlchemy==1.4.22
Flask-SQLAlchemy==2.5.1
SQLAlchemy-Utils==0.37.8
marshmallow==3.13.0
flask-marshmallow==0.14.0
marshmallow-sqlalchemy==0.26.1
cryptography==3.4.7
simplejson==3.17.3
flask-restx==0.5.0
flask-jwt-extended==3.24.1
PyJWT==1.7.1
sentry-sdk==0.19.5
blinker==1.4
dropbox==11.2.0
paypalrestsdk==1.13.1
sendgrid==6.8.3
beautifulsoup4==4.9.3
google-api-python-client