<!DOCTYPE html>
<html lang="en">
<body>
  <div style="background-color: #242529; width: 100%; text-align: center;">
    <p style="font-style: italic; font-weight: bolder; color: #bae910; text-shadow: 5px 2px 4px grey; font-size: 25px;">PIKAACADEMY</p>
  </div>
  <div style="text-align: center; width: 100%;">
    <div>
      <img width="100px" src="{{ teacher_url_avatar }}" style="border-radius: 5em;" />
    </div>
    <div style="text">
      <h1><b>{{ teacher_name }}</b> đã đăng tải khóa học: <b>{{ course_name }}</b></h1>
    </div>
    <div>
      <img width="200px" src="{{ course_url_intro_video }}"/>
    </div>
  </div>
</body>
</html>