<!DOCTYPE html>
<html lang="en">
<body>
  <div style="background-color: #242529; width: 100%; text-align: center;">
    <p style="font-style: italic; font-weight: bolder; color: #bae910; text-shadow: 5px 2px 4px grey; font-size: 25px;">PIKAACADEMY</p>
  </div>
  <pre>
    Hi !

    ◆━━━━━━━━━━━━━━━━━━┓
      {{ name }}
    ┗━━━━━━━━━━━━━━━━━◆

    <b>Cảm ơn bạn đã chọn đồng hành cùng PikaAcademy.</b>
    <i>Thông tin của bạn đã được ghi nhận.</i>
    <i>Đội ngũ chăm sóc Giảng viên sẽ liên hệ với bạn trong thời gian sớm nhất.</i>
    <i>Bạn vui lòng chú ý điện thoại nhé!</i>
  </pre>
</body>
</html>