<!DOCTYPE html>
<html lang="en">
<body>
  <div style="background-color: #242529; width: 100%; text-align: center;">
    <p style="font-style: italic; font-weight: bolder; color: #bae910; text-shadow: 5px 2px 4px grey; font-size: 25px;">PIKAACADEMY</p>
  </div>
  <pre>
    Hi {{ name }} !
    <b>Cảm ơn bạn đã chọn đồng hành cùng PikaAcademy.</b>
    <i>Sau khi xác nhận thông tin.</i>
    <i>PikaAcademy rất vinh hạnh khi được đồng hành cùng bạn.</i>
    <i>Trên đây là account đăng nhập của bạn!</i>
    <i>Vui lòng đăng nhập vào hệ thống, đổi mật khẩu và cập nhật thông tin cá nhân để bắt đầu chặng đường đồng hành cùng PikaAcademy nhé!</i>

    ◆━━━━━━━━━━━━━━━━━━┓
    Email: {{ email }}
    Password: Aa123456@
    ┗━━━━━━━━━━━━━━━━━◆
    Link đăng nhập: http://localhost:8080/teachermanager
  </pre>
</body>
</html>