<div style="font-family: inherit; text-align: inherit"></div>
<table style="width: 100%;">
  <thead>
    <tr style="background-color: #0DACEA; color: white; font-weight: bold;">
      <th>Course</th>
      <th>Price</th>
      <th>Discount</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    {% for item in transactions %}
      <tr>
        <td>{{ item.course_name }}</td>
        <td>115.000đ</td>
        <td>0đ</td>
        <td>115.000đ</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<style>
 tr {
     background-color: #EEEEEE;
     height: 30px;
     text-align: left;
     line-height: 30px;
 }
 p {
     line-height: 30px !important;
 }
</style>
