<!DOCTYPE html>
<html lang="en">
<body>
  <div style="background-color: #242529; width: 100%; text-align: center;">
    <p style="font-style: italic; font-weight: bolder; color: #bae910; text-shadow: 5px 2px 4px grey; font-size: 25px;">PIKAACADEMY</p>
  </div>
  <pre>
    Thân gửi {{ name }},
    Chúng tôi rất lấy làm tiếc khi phải thông báo sẽ tạm dừng phát hành khóa học: <b>{{ course_name }}</b>
    Chúng tôi rất xin lỗi vì sự khó chịu mà dịch vụ gây ra và đang làm tất cả những gì có thể để cải tiến và khắc phục sự có này
  </pre>
</body>
</html>